.createPlayList {
    background-color: #040D12;
    border: none;
    border-radius: 15px;
    padding: 1em;
}

h1 {
    margin-bottom: 1em;
    text-align: center;
}

input,
select {
    width: 100%;
    margin: 0.5em 0;
    background-color: #040D12;
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
    padding: 12px 0;
    color: #ffffff;
}

input {}

button {
    border-radius: 20px;
    background-color: #183D3D;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 20px;
    text-transform: capitalize;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.3s ease;
    border: none;
    align-items: center;
    margin-top: 1em;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #5C8374;
}