<h2>Your Playlists</h2>
<div *ngFor="let list of userPlaylists" class="playList">
    <div class="head">
        <span>{{ list.title }}</span>
        <div class="icons">
            <fa-icon (click)="toggleListVisibility(list.title)"[icon]="faEye" [id]="list.type === 'private' ? 'red' : (list.type === 'public' ? 'green' : 'yellow')"></fa-icon>
            <button (click)="toggleMusicVisibility(list.title)"><fa-icon [icon]="list.showMusics ? faArrowUp : faArrowDown"></fa-icon></button>
        </div>
    </div>
    <div class="musics" *ngIf="list.showMusics">
      <div class="item" *ngFor="let music of list.songs; let i = index " (click)="onSongSelected(list.title, i)">
        <div class="img">
          <img [src]="music.img" alt="Now Playing Image" class="">
        </div>
        <div class="data">
          <span class="song-name">{{ music.name }}</span>
          <span class="performer">{{ music.performer }}</span>
        </div>
        <button class="delete" (click)="deleteFromPlayList(list.title, music)"><fa-icon [icon]="faTrashCan"></fa-icon></button>
      </div>
    </div>
</div>
<h2 id="follow">Followed Lists</h2>
<div *ngFor="let list of followedFlists" class="followList">
  <div class="head">
      <span>{{ list.title }}</span>
      <div class="icons">
          <fa-icon (click)="deleteFollowList(list)"[icon]="faTrashCan" id="trash"></fa-icon>
          <button (click)="toggleFollowedVisibility(list.title)"><fa-icon [icon]="list.showMusics ? faArrowUp : faArrowDown"></fa-icon></button>
      </div>
  </div>
  <div class="musics" *ngIf="list.showMusics">
      <div class="mus" *ngFor="let music of list.songs; let i = index ">
          <div class="listItems">
              <div class="item" (click)="onSongSelected(list.title, i)">
                <div class="img">
                  <img [src]="music.img" alt="Now Playing Image" class="">
                </div>
                <div class="data">
                  <span class="song-name">{{ music.name }}</span>
                  <span class="performer">{{ music.performer }}</span>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>